:root {
    --full-width-without-scrollbars: calc(100vw - (100vw - 100%));
    --sidebar-width: 5vw;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.paint {
    display: flex;
    justify-content: start;
    align-items: center;
}

canvas {
    position: relative;
    left: 6%;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.1),
        -5px -5px 5px 1px rgba(0, 0, 0, 0.1);
}

.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1), -2px -2px 5px 1px rgba(0, 0, 0, 0.1);
}

.tool-settings-bar {
    width: 15vw;
    padding: 5px 10px;
    position: absolute;
    right: 0%;
    display: block;
}

.button {
    background-color: transparent;
    width: 8vh;
    height: 8vh;
    border-radius: 20%;
    margin-top: 5vh;
    cursor: pointer;
    border: none;
}

.button.active {
    background-color: hsla(232, 69%, 62%, 0.265);
}

#wipe.button.active {
    background-color: transparent;
}

.pencil {
    transform: rotate(-45deg);
    height: 6vh;
}

.button.svg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-tool {
    width: 6vh;
    background-size: contain;
}

.eraser {
    transform: rotate(-240deg);
}

.toolbar-settings-button {
    border: none;
    background: transparent;
    margin: 10px 1px 30px;
    font-size: 30px;
    color: hsla(232, 69%, 62%, 1);
    cursor:pointer;
}

#upload-image{
    height: 90%;
}

.filter-buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.filter-button{
    margin: 10px;
    height: 30px;
    width: 80%;
    color: #5839e3d3;
    background-color: hsla(214, 66%, 77%, 0.31);
    border-radius: 10px;
    border: 1px solid rgb(123, 193, 234);
    cursor:pointer;
}

.setting-input,
.setting-label {
    margin: 3px 3px;
    width: 80%
}

.setting-label{
    margin-top: 15px;
}